<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Chào mừng đến với Home Page!</h1>
        <p class="lead">Dưới đây là chuỗi JSON dữ liệu User lấy từ MongoDB:</p>
        <hr class="my-4" />

        <div
          class="alert alert-dark"
          role="alert"
          style="word-wrap: break-word"
        >
          <%= data %>
        </div>

        <a class="btn btn-primary btn-lg mt-3" href="/get-crud" role="button"
          >Đi tới trang quản lý CRUD</a
        >
        <a class="btn btn-info btn-lg mt-3 ml-2" href="/about" role="button"
          >Về trang About</a
        >
      </div>
    </div>
  </body>
</html>
